In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.style

In [3]:
import matplotlib.pyplot as plt

In [4]:
import xlrd

In [8]:
df = pd.ExcelFile(r'C:\Users\rcmlp.12\Desktop\misc\chaid decision tree\Aircraft_analysis_for DT_nodes_31jan22(doubt) (1).xlsx')

In [9]:
df.sheet_names

['final', 'Sheet1', 'Sheet2']

In [11]:
a=df.parse('final')
a

,Row Labels,Target,202110_int,202111_int,202112_int,Q1_int,Q2_int,Q3_int,Q4_int,half_yearly_1_int,...,202110_Repeat,202111_Repeat,202112_Repeat,Q1_Repeat,Q2_Repeat,Q3_Repeat,Q4_Repeat,half_yearly_1_Repeat,half_yearly_2_Repeat,Yearly_Repeat
0,N1013A,0,1,1,1,4,2,6,3,6,...,6,4,0,7,9,7,10,16,17,33
1,N1093A,0,2,0,0,4,7,2,2,11,...,0,0,0,1,2,9,0,3,9,12
2,N1181A,0,1,3,2,7,5,5,6,12,...,0,7,0,24,2,2,7,26,9,35
3,N1229A,0,3,4,1,5,6,3,8,11,...,8,10,0,17,7,0,18,24,18,42
4,N1321A,0,3,3,0,8,6,3,6,14,...,8,0,0,8,2,6,8,10,14,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,N855GT,0,1,1,1,2,2,7,3,4,...,11,4,0,0,13,57,15,13,72,85
103,N856GT,0,3,2,1,3,9,5,6,12,...,0,0,0,2,7,20,0,9,20,29
104,N857GT,0,3,2,0,4,10,8,5,14,...,13,7,0,4,23,39,20,27,59,86
105,N858GT,0,1,1,3,11,4,3,5,15,...,4,4,0,15,30,12,8,45,20,65
106,N859GT,0,3,0,0,8,12,0,3,20,...,0,0,0,4,22,0,0,26,0,26